
<div class="ui tab" data-tab="ticket">
    <h3 class="ui dividing header">{{ 'ticket_bundle.admin.product.menu_ticket'|trans }}</h3>
    {# render(url('sylius_admin_get_product_attributes')) #}

    <ul>
        <li>TODO: Design auswählen</li>
        <li>TODO: Vorschau</li>
    </ul>
    {# sonata_block_render_event('sylius.admin.product.' ~ action ~ '.tab_attributes', {'form': form}) #}
</div>
